<!DOCTYPE html>
<html>
<head>
   <title>ROBOT CONTROL CENTER</title>
</head>
<body>
   <h1>ROBOT CONTROLLER!</h1>
   <button class = "forward">Forward</button>
   <button class = "backward">Backward</button>
   <button class = "right">Turn Right</button>
   <button class = "st_r">Strafe Right</button>
   <button class = "left">Turn Left</button>
   <button class = "st_l">Strafe Left</button>
   <button class = "stop">Emergency Stop</button>
   <p class="status">Status</p>
</body>
</html>